/* This is the CSS page with all the custom css */

.bg-darkblue {
  background-color: #22211F;
}

.home_banner {
  background: url('images/lode-lagrainge-44wjflU1ATc-unsplash.jpg');
  background-size: cover;

}

.navbar {
  padding: 0px;
  color: transparent;
}

body {
  background-color: black;
}

.dropdown-menu {
  background-color: transparent;
  color: white;
  text-decoration: none;

}
